*{
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
.label{
    width: 300px;
    height: auto;
    font-family: Open Sans, sans-serif;
    border: 3px solid black;
    margin: 20px auto;
    padding: 10px;
}
.divider{
    border: 1px solid grey;
    margin: 2px 0;
}
.bold{
    font-weight: 700;
}
h1{
    margin: -5px 0;
}
p{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.large{
    height: 10px;
}
.medium{
    height: 5px;
}
.large,.medium{
    border: 0;
    background-color: black;
}
.calories-info{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 2em;
}
h2{
    font-size: 0.8rem;
    margin:0;
}
.left-container p{
    font-size: 2rem;
    margin: 0;
}
.small-text{
    font-size: 0.8rem;
}
.daily-value p:not(.no-divider){
    border-bottom: 1px solid grey;
}
.right{
    justify-content: flex-end;
}
.indent{
    text-indent: 10px;
}
.double-indent{
    margin-left:20px;
}
/* padding dùng để lùi các hàng sau. text-indent âm sẽ dùng để giữ lại vị trí hàng đầu */
.note{
    font-size: 0.6rem;
    margin: 5px 0;
    padding: 0 8px;
    text-indent: -8px;
}