body{
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    font-family: sans-serif;
    padding: 20px;
}
/* Có thể set up max width cho thuộc tính hoặc một đối tượng cụ thể */
.menu{
    width: 80%;
    background-color: burlywood;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    padding: 20px;
}
.establishes{
    font-style: italic;
    margin-bottom: 20px;
}
h1,h2{
    font-family: Impact, sans-serif;
}
h1{
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 20px;
}
h2{
    font-size: 30px;
}
hr{
    height: 2px;
    background-color: brown;
    border-color: brown;
}
.item p{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    display: inline-block;
}
.flavor,.dessert{
    text-align: left;
    width: 75%;
}
.price{
    text-align: right;
    width: 25%;
}

footer{
    font-size: 14px;
}
.bottom-line{
    margin-top: 20px;
    margin-bottom: 10px;
}

a{
    color: black;
}
a:visited{
    color: black;
}
a:hover{
    color: brown;
}
a:active{
    color: brown;
}
.address{
    margin-top: 10px;
    margin-bottom: 0;
}